<div class="container">
 <div class="col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
   <%= form_for(@blog) do |f| %>
    <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "タイトル"%>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "本文",  class: "text"   %>
  </div>
  <div class="actions">
    <%= f.submit '投稿する' %>
  </div>
 <div>
</div>
<% end %>
